In [1]:
# Python Collections
# List
# Tuple
# Dictionary
# Set

In [2]:
# # List
# -Indexed
# -Ordered
# -Duplicate Members
# -Mutable

In [3]:
a = ["Apple","Ball"]
b = [1,2,3,4,5]
print(a)
print(b)

print(type(a))
print(type(b))

['Apple', 'Ball']
[1, 2, 3, 4, 5]
<class 'list'>
<class 'list'>

In [4]:
print(len(a))
print(len(b))

2
5

In [5]:
a = ["Apple","Ball","Cat","Dog","Fish"]
print(a[1])

Ball

In [6]:
a = ["Apple","Ball","Cat","Dog","Fish"]
print(a[0:3])

['Apple', 'Ball', 'Cat']

In [7]:
a = ["Apple","Ball","Cat","Dog","Fish"]
print(a[0:6:2])

['Apple', 'Cat', 'Fish']

In [8]:
a = ["Apple","Ball","Cat","Dog","Fish"]
b = ["Dog","Cat"]
c = a+b
print(c)

['Apple', 'Ball', 'Cat', 'Dog', 'Fish', 'Dog', 'Cat']

In [9]:
#ordered
a = ["Apple","Ball","Cat","Dog","Fish"]
b = ["Dog","Cat"]
c = b+a
print(c)

['Dog', 'Cat', 'Apple', 'Ball', 'Cat', 'Dog', 'Fish']

In [10]:
a = ["Apple","Ball","Cat","Dog","Fish"]
for i in a:
    print(i)

Apple
Ball
Cat
Dog
Fish

In [11]:
a = ["Apple","Ball","Cat","Dog","Fish"]
for i in a:
    if i == "Cat":
        break
    print(i)

Apple
Ball

In [12]:
a = ["Apple","Ball","Cat","Dog","Fish"]
for i in a:
    if i == "Cat":
        continue
    print(i)

Apple
Ball
Dog
Fish

In [5]:
names = list()
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
#   names = names + [name]
    names.append(name)
print(names)

Enter n = 2
Enter name = Ram
Enter name = Shyam
['Ram ', 'Shyam']

In [1]:
names = list()
n = int(input("Enter n = "))
for i in range(n):
    name = int(input("Enter name = "))
#   names = names + [name]
    names.append(name)
print(names)

Enter n = 5
Enter name = 234
Enter name = 466
Enter name = 345
Enter name = 5675
Enter name = 345
[234, 466, 345, 5675, 345]

In [3]:
print("sum of number is = ",sum(names))
print("The max value", max(names))
print("The min value", min(names))
names.sort()
print(names)

sum of number is =  7065
The max value 5675
The min value 234
[234, 345, 345, 466, 5675]

In [4]:
print("sum of number is = ",sum(names))
print("The max value", max(names))
print("The min value", min(names))
names.sort()
print(names)
names.reverse()
print(names)

sum of number is =  7065
The max value 5675
The min value 234
[234, 345, 345, 466, 5675]
[5675, 466, 345, 345, 234]

In [6]:
a = ["Hari","Sita","Akash","Nabin","nita"]
a.sort()
print(a)

['Akash', 'Hari', 'Nabin', 'Sita', 'nita']

In [7]:
#insert()
a = ["Hari","Sita","Akash","Nabin","nita"]
a.insert(1,"Binam")
a

['Hari', 'Binam', 'Sita', 'Akash', 'Nabin', 'nita']

In [8]:
#extend()
a = ["Hari","Sita","Akash","Nabin","nita"]
b = [1,2,3,4]
a.extend(b)
print(a)

['Hari', 'Sita', 'Akash', 'Nabin', 'nita', 1, 2, 3, 4]

In [9]:
#use slicing
a = ["Hari","Sita","Akash","Nabin","nita"]
b = [1,2,3,4]
x = [a[0]]
c = x+b+a[1:]
c

['Hari', 1, 2, 3, 4, 'Sita', 'Akash', 'Nabin', 'nita']

In [11]:
a = ["Hari","Sita","Akash","Nabin","nita"]
a[0]= "Harry"
a

['Harry', 'Sita', 'Akash', 'Nabin', 'nita']

In [12]:
a = ["Hari","Sita","Akash","Nabin","nita"]
a[0:2]= ["Harry","Sam"]
a

['Harry', 'Sam', 'Akash', 'Nabin', 'nita']

In [13]:
# del remove() pop()
a = ["Hari","Sita","Akash","Nabin","nita"]
del a[0]
print(a)

['Sita', 'Akash', 'Nabin', 'nita']

In [15]:
a = ["Hari","Sita","Akash","Nabin","nita"]
del a[0:3]
print(a)

['Nabin', 'nita']

In [16]:
a = ["Hari","Sita","Akash","Nabin","nita"]
a.remove("Hari")
print(a)

['Sita', 'Akash', 'Nabin', 'nita']

In [17]:
a = ["Hari","Sita","Akash","Nabin","nita","Hari"]
a.remove("Hari")
print(a)

['Sita', 'Akash', 'Nabin', 'nita', 'Hari']

In [19]:
a = ["Hari","Sita","Akash","Nabin","nita","Hari"]
for i in a:
    if i == "Hari":
        a.remove("Hari")
    
print(a)

['Sita', 'Akash', 'Nabin', 'nita']

In [20]:
a = ["Hari","Sita","Akash","Nabin","nita","Hari"]
for i in range(len(a)):
    if a[i] == "Hari":
        print(i)

0
5

In [23]:
#pop() -> moves data
a = ["Hari","Sita","Akash","Nabin","nita","Hari"]
a.pop(3)
print(a)

['Hari', 'Sita', 'Akash', 'nita', 'Hari']

In [25]:
a = ["Hari","Sita","Akash","Nabin","nita","Hari"]
b = a.pop(3)
print(a)
print(b)

['Hari', 'Sita', 'Akash', 'nita', 'Hari']
Nabin

In [26]:
#list inside list
a = [[1,2,3],
     [4,5,6],
     [7,8,9]]
print(type(a))

<class 'list'>

In [28]:
a = [["Ram",34,"Kathmandu"],
     ["Shyam",34,"Bhaktapur"],
     ["Siva",23,"Patan"]]
print(a[0])
print(a[0:2])

['Ram', 34, 'Kathmandu']
[['Ram', 34, 'Kathmandu'], ['Shyam', 34, 'Bhaktapur']]

In [29]:
a = [["Ram",34,"Kathmandu"],["Shyam",34,"Bhaktapur"]]
b = ["Nabin",56,"Bara"]
c = a+b
print(c)

[['Ram', 34, 'Kathmandu'], ['Shyam', 34, 'Bhaktapur'], 'Nabin', 56, 'Bara']

In [30]:
a = [["Ram",34,"Kathmandu"],["Shyam",34,"Bhaktapur"]]
b = ["Nabin",56,"Bara"]
a.append(b)
a

[['Ram', 34, 'Kathmandu'], ['Shyam', 34, 'Bhaktapur'], ['Nabin', 56, 'Bara']]

In [32]:
data = []
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter add = ")
    info = [name,age,add]
    data.append(info)
print(data)

Enter n = 2
Enter name = Ram
Enter age = 55
Enter add = Kathmandu
Enter name = Shyam
Enter age = 44
Enter add = Bhaktapur
[['Ram ', 55, 'Kathmandu'], ['Shyam', 44, 'Bhaktapur']]

In [33]:
#for data
a = [['Ram', 55, 'Kathmandu'], ['Shyam', 44, 'Bhaktapur']]
name = input("Enter name = ")
for i in a:
    if name in i:
        print(i)

Enter name = Ram
['Ram', 55, 'Kathmandu']

In [35]:
#for index
a = [['Ram', 55, 'Kathmandu'], ['Shyam', 44, 'Bhaktapur']]
name = input("Enter name = ")
for i in range(len(a)):
    if name in a[i]:
        print(i)

Enter name = Shyam
1

In [36]:
a = [['Ram', 55, 'Kathmandu'], 
     ['Shyam', 44, 'Bhaktapur']]
a[0]

['Ram', 55, 'Kathmandu']

In [37]:
a = [['Ram', 55, 'Kathmandu'], 
     ['Shyam', 44, 'Bhaktapur']]
a[0][0]

'Ram'

In [38]:
#to update
a = [['Ram', 55, 'Kathmandu'], 
     ['Shyam', 44, 'Bhaktapur']]
a[0][0] = "Ram Prasad"
a

[['Ram Prasad', 55, 'Kathmandu'], ['Shyam', 44, 'Bhaktapur']]

In [40]:
a = [['Ram', 55, 'Kathmandu'], 
     ['Shyam', 44, 'Bhaktapur']]
a[0] = ['Rama', 74, 'Lalitpur']
a

[['Rama', 74, 'Lalitpur'], ['Shyam', 44, 'Bhaktapur']]

In [42]:
a = [['Ram', 55, 'Kathmandu'], 
     ['Shyam', 44, 'Bhaktapur']]
del a[0][0]
print(a)

[[55, 'Kathmandu'], ['Shyam', 44, 'Bhaktapur']]

In [43]:
a = [['Ram', 55, 'Kathmandu'], 
     ['Shyam', 44, 'Bhaktapur']]
a.remove(a[1])
print(a)

[['Ram', 55, 'Kathmandu']]

In [44]:
s = ""
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter product name = ")
    price = int(input("Enter price = "))
    quantity = int(input("Enter quantity = "))
    total = price*quantity
    info = f"{name} {price} {quantity} {total}\n"
    s = s + info
print("Product Price Quantity Total\n")    
print(s,"\n")

Enter n = 2
Enter product name = momo
Enter price = 150
Enter quantity = 3
Enter product name = coke
Enter price = 150
Enter quantity = 4
Product Price Quantity Total

momo 150 3 450
coke 150 4 600

In [50]:
bill = []
data = s.split("\n")[:-1]
for i in data:
    bill.append(i.split())
    
bill

[['momo', '150', '3', '450'], ['coke', '150', '4', '600']]

In [ ]:
#list inside list 
s = ""
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter product name = ")
    price = int(input("Enter price = "))
    quantity = int(input("Enter quantity = "))
    total = price*quantity
    info = f"{name} {price} {quantity} {total}\n"
    s = s + info
print("Product Price Quantity Total\n")    
print(s,"\n")

In [ ]:
# WAP to develop result management system