In [1]:
#Tuple
# - Indexed 
# - Multiple Data
# - Ordered 
# - Imutable

In [2]:
a = ("Apple","Ball","Cat")
print(type(a))
print(a)

<class 'tuple'>
('Apple', 'Ball', 'Cat')

In [3]:
a = ("Apple","Ball","Cat")
print(a[0])

Apple

In [4]:
a = ("Apple","Ball","Cat")
print(a[2])

Cat

In [6]:
a = (1,2,3,4,5,6,7,8,9,10)
print(a[0:4])
print(a[0:9:2])

(1, 2, 3, 4)
(1, 3, 5, 7, 9)

In [7]:
# concatenation
a = ("Apple","Ball","Cat")
b = ("Dog","Fish")
c = a+b
c

('Apple', 'Ball', 'Cat', 'Dog', 'Fish')

In [8]:
a = ("Apple","Ball","Cat")
print(a*2)

('Apple', 'Ball', 'Cat', 'Apple', 'Ball', 'Cat')

In [10]:
# differences
a = ("Apple","Ball")
type(a)

tuple

In [11]:
a = ("Apple")
type(a)

str

In [12]:
a = (1)
type(a)

int

In [13]:
# tuple - static data - generally data that cannot be changed
# often changed in list
# NO append() extend() insert()
# NO update() del() remove() pop()

In [15]:
t = tuple()
n = int(input("Enter n = "))
for i in range(n):
    x = input("Enter x = ")
    t = t+(x,)
print(t)

Enter n = 2
Enter x = Hello
Enter x = World
('Hello', 'World')

In [16]:
a = ('Apple', 'Ball', 'Cat', 'Dog', 'Fish')
a = list (a)
a

['Apple', 'Ball', 'Cat', 'Dog', 'Fish']

In [17]:
a = ['Apple', 'Ball', 'Cat', 'Dog', 'Fish']
a = tuple(a)
a

('Apple', 'Ball', 'Cat', 'Dog', 'Fish')

In [18]:
a = (123,345,6789,23,45,353)
print("Sum = ",sum(a))
print("Max value = ",max(a))
print("Min value = ",min(a))

Sum =  7678
Max value =  6789
Min value =  23

In [19]:
a = (123,345,6789,23,45,353)
sorted(a)

[23, 45, 123, 345, 353, 6789]

In [20]:
a = (123,345,6789,23,45,353)
print(sorted(a))
print(a)

[23, 45, 123, 345, 353, 6789]
(123, 345, 6789, 23, 45, 353)

In [22]:
a = [123,345,6789,23,45,353]
a.sort()
a

[23, 45, 123, 345, 353, 6789]

In [23]:
a = 1,2,3,4,5,6
print(a)

(1, 2, 3, 4, 5, 6)

In [24]:
def cal():
    l = 5
    b = 4
    h = 2
    a = l*b
    v = a*h
    return a,v

print(cal())

(20, 40)

In [26]:
#slicing
a = ('Apple', 'Ball', 'Cat', 'Dog', 'Fish')
b = a[0:2]
c = a[3:]
d = b+c
print(d)

('Apple', 'Ball', 'Dog', 'Fish')

In [27]:
a = ('Apple', 'Ball', 'Cat', 'Dog', 'Fish')
b = a[0:2]
c = a[3:]
d = ("cat",)
r = b+d+c
r

('Apple', 'Ball', 'cat', 'Dog', 'Fish')

In [28]:
# tuple inside tuple 
# a = (())
a = ((1,2,3),(4,5,6),(7,8,9))
print(type(a))

<class 'tuple'>

In [29]:
a = (("Ram",34,"Kathmandu"),
     ("Shyam",78,"Patan"),
     ("Hari",23,"Bara"))
print(a)

(('Ram', 34, 'Kathmandu'), ('Shyam', 78, 'Patan'), ('Hari', 23, 'Bara'))

In [30]:
print(a[0])

('Ram', 34, 'Kathmandu')

In [31]:
for i in a:
    print(i)

('Ram', 34, 'Kathmandu')
('Shyam', 78, 'Patan')
('Hari', 23, 'Bara')

In [33]:
a = (("Ram",34,"Kathmandu"),
     ("Shyam",78,"Patan"),
     ("Hari",23,"Bara"))
for i in a:
    if "Ram" in i:
        print(i)

('Ram', 34, 'Kathmandu')

In [36]:
info = tuple()
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter add = ")
    info = info + ((name,age,add),)
    
print(info)

Enter n = 2
Enter name = Ram
Enter age = 34
Enter add = Kathmandu
Enter name = Shyam
Enter age = 56
Enter add = Patan
(('Ram', 34, 'Kathmandu'), ('Shyam', 56, 'Patan'))

In [37]:
a = (('Ram', 34, 'Kathmandu'), ('Shyam', 56, 'Patan'))
b = list(a)
b

[('Ram', 34, 'Kathmandu'), ('Shyam', 56, 'Patan')]

In [38]:
b = list()
a = (('Ram', 34, 'Kathmandu'), ('Shyam', 56, 'Patan'))
for i in a:
    b.append(list(i))
    
print(b)

[['Ram', 34, 'Kathmandu'], ['Shyam', 56, 'Patan']]

In [ ]:
# WAP to create a matrix 
#(list inside list)&(tuple inside tuple)