In [ ]:
# imutable datatype
a = "Hello World"
print(type(a))

In [ ]:
a = "Hello"
b = "World"
c = a+b
print(c)

In [ ]:
a = "Hello World"
print(a[-1])

In [ ]:
a = "Hello World"
print(a[0:5])

In [ ]:
a = "Hello World"
print(a[1:6])

In [ ]:
a = "Hello World"
print(a[0:6:2])

In [ ]:
a = "Hello World"
l = len(a)
print(l)
print(a[l::-1])

In [ ]:
a = "Hello World"
print(a[0:100])

In [ ]:
a = "Hello World"
l = len(a)
a[l]

In [ ]:
a = "Hello World"
l = len(a)
print(a[l-1])

In [ ]:
for i in a:
    print(i, end = "")

In [2]:
s = ""
n = int(input("Enter n = "))
for i in range(n):
    name  = input("Enter name = ")
    phone = input("Enter phone = ")
    info = name+ " " +phone 
    s = s+info+"\n"
    
print(s)

Enter n = 2
Enter name = keshma
Enter phone = 9861644644
Enter name = sonu
Enter phone = 9871755755
keshma 9861644644
sonu 9871755755

In [4]:
#string formatting
name = "Ram"
age = 34
address = "Kathmandu"

x = "Hello I am"+name+"I am from "+address+"I am "+str(age)
print(x)

Hello I amRamI am from KathmanduI am 34

In [5]:
#instead use:

name = "Ram"
age = 34
address = "Kathmandu"

y = f"Hello I am {name}. I am from {address}. I am {str(age)}."
print(y)

Hello I am Ram. I am from Kathmandu. I am 34.

In [1]:
s = ""
n = int(input("Enter n = "))
for i in range(n):
    name  = input("Enter name = ")
    phone = input("Enter phone = ")
    info = f"{name} {phone}\n" 
    s = s+info+"\n"
    
print(s)

Enter n = 2
Enter name = Ram
Enter phone = 9861644644
Enter name = Shyam
Enter phone = 9871755755
Ram  9861644644

Shyam  9871755755

In [18]:
s = ""
all_total = 0
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter product name = ")
    price = int(input("Enter price = "))
    quantity = int(input("Enter quantity = "))
    total = price*quantity
    info = f"{name} {price} {quantity} {total}\n"
    s = s + info
    all_total = all_total + total
print("Product Price Quantity Total\n")    
print(s,"\n")
print("All Total = ",all_total)

Enter n = 2
Enter product name = momo
Enter price = 150
Enter quantity = 3
Enter product name = coke
Enter price = 120
Enter quantity = 4
Product Price Quantity Total

momo 150 3 450
coke 120 4 480


All Total =  930

In [10]:
#replace()
a = "Ram Shyam Hari Sita Gita"
a.replace("Ram", "Rama")

'Rama Shyam Hari Sita Gita'

In [12]:
#replace()
a = "Ram Shyam Hari Sita Gita"
a.replace("Ram","")

' Shyam Hari Sita Gita'

In [16]:
#replace()
a = "Ram Shyam Hari Sita Gita Ram"
a = a.replace("Ram","Rama")
print(a)

Rama Shyam Hari Sita Gita Rama

In [5]:
#search
a = "Ram Shyam Hari Sita Gita Ram"
name = input("Enter name = ")
if name in a:
    print("Yes")

Enter name = Ram
Yes

In [6]:
a = "Ram Shyam Hari Sita Gita Ram"
a.count("Ram")

2

In [7]:
a = "Ram Shyam Hari Sita Gita Ram"
print(a.upper())
print(a.lower())

RAM SHYAM HARI SITA GITA RAM
ram shyam hari sita gita ram

In [8]:
a = "Ram Shyam Hari Sita Gita Ram".lower()
name = input("Enter name = ").lower()
if name in a:
    print("Yes",a.count(name))

Enter name = ram
Yes 2

In [9]:
name = "Ram Shyam Hari Sita Gita Ram"
name[1].upper()

'A'

In [14]:
name = "Ram Shyam Hari Sita Gita Ram"
x = name[1].upper()
y = name[0]
z = name[2:]
final = y+x+z
final

'RAm Shyam Hari Sita Gita Ram'

In [17]:
name = "Ram Shyam Hari Sita Gita Ram"
name = name.replace("a","A")
name

'RAm ShyAm HAri SitA GitA RAm'

In [ ]:
#WAP to develop result management system