In [1]:
# a = {}
# b = {<key>:<value>,<key>:<value>}

In [2]:
a = dict()
b = {"a":"Apple", "b":"Ball","c":"Cat"}
print(b)
print(type(b))

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}
<class 'dict'>

In [3]:
print(a[0])

KeyError: 0

In [4]:
# Dict
# - Indexed 
# - Duplicate Values 
# - Ordered 
# - Mutable

In [8]:
b = {"a":"Apple", "b":"Ball","c":"Cat"}
print(b["a"])
print(b["b"])
print(b["c"])
print(len(b))

Apple
Ball
Cat
3

In [9]:
b = {"a":"Apple", "b":"Ball","c":"Cat","a":"Ant"}
b

{'a': 'Ant', 'b': 'Ball', 'c': 'Cat'}

In [11]:
# case sensitive 
b = {"a":"Apple", "b":"Ball","c":"Cat","A":"Ant"}
b

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat', 'A': 'Ant'}

In [13]:
#duplicate value can stay
b = {"a":"Apple", "b":"Ball","c":"Cat","A":"Apple"}
b

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat', 'A': 'Apple'}

In [14]:
b = {"a":"Apple", "b":"Ball","c":"Cat","A":"Apple"}
print(b)

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat', 'A': 'Apple'}

In [16]:
# Syntax 
a = {}
# a[<key>] = <value>
a["a"] = "Apple"
a["b"] = "Ball"
a["c"] = "Cat"
a

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}

In [17]:
# Syntax 
a = {}
# a[<key>] = <value>
a["a"] = "Apple"
a["b"] = "Ball"
a["c"] = "Cat"
a["c"] = "Coat"
a

{'a': 'Apple', 'b': 'Ball', 'c': 'Coat'}

In [24]:
data = {}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    phone = input("Enter phone = ")
    data[name] = phone
        
print(data)

Enter n = 2
Enter name = Ram
Enter phone = 9861644644
Enter name = Shyam
Enter phone = 9751544544
{'Ram ': '9861644644', 'Shyam ': '9751544544'}

In [25]:
a = {'Ram ': '9861644644', 'Shyam ': '9751544544'}
for i in a:
    print(i)

Ram
Shyam

In [36]:
a = {'Ram ': '9861644644', 'Shyam ':'9751544544'}
for i in a.values():
    print(i)

9861644644
9751544544

In [27]:
a = {'Ram ': '9861644644', 'Shyam ': '9751544544'}
for i in a.items():
    print(i)

('Ram ', '9861644644')
('Shyam ', '9751544544')

In [37]:
x = [('Ram', '9861644644'), ('Shyam', '9751544544')]
dict(x)

{'Ram': '9861644644', 'Shyam': '9751544544'}

In [38]:
a = {'Ram': '9861644644', 'Shyam': '9751544544'}
a["Ram"] = "9881844844"
a

{'Ram': '9881844844', 'Shyam': '9751544544'}

In [39]:
a = {"A":"Apple"}
b = {"B":"Ball"}
c = a+b
c

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [40]:
a = {1:1,2:4,3:9,4:16}
print(a)

{1: 1, 2: 4, 3: 9, 4: 16}

In [41]:
a = {("Ram","Hari"): '9881844844', "Shyam": '9751544544'}
a

{('Ram', 'Hari'): '9881844844', 'Shyam': '9751544544'}

In [42]:
a = {["Ram","Hari"]: '9881844844', "Shyam": '9751544544'}
a

TypeError: unhashable type: 'list'

In [44]:
# tuple:()

In [45]:
a = {'Ram': '9861644644', 'Shyam': '9751544544'}
a.clear()
print(a)

{}

In [47]:
a = {'Ram': '9861644644', 'Shyam': '9751544544'}
del a["Ram"]
print(a)

{'Shyam': '9751544544'}

In [48]:
a = {'Ram': '9861644644', 'Shyam': '9751544544'}
a.pop("Shyam")
print(a)

{'Ram': '9861644644'}

In [50]:
a = {("Ram","Hari"): '9881844844', "Shyam": '9751544544'}
del a[("Ram","Hari")]
print(a)

{'Shyam': '9751544544'}

In [51]:
# list inside dictionary 
a = {'Ram': ['9861644644','9881844844'],'Shyam': ['9751544544','9851544544']}
a

{'Ram': ['9861644644', '9881844844'], 'Shyam': ['9751544544', '9851544544']}

In [53]:
data = {}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    ntc = input("Enter ntc phone = ")
    ncell = input("Enter ncell phone = ")
    data[name] = [ntc,ncell]
        
print(data)

Enter n = 2
Enter name = Ram
Enter ntc phone = 9861644644
Enter ncell phone = 9751544544
Enter name = Shyam
Enter ntc phone = 9751533533
Enter ncell phone = 9651322322
{'Ram': ['9861644644', '9751544544'], 'Shyam': ['9751533533', '9651322322']}

In [55]:
data = {}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    ntc = input("Enter ntc phone = ")
    ncell = input("Enter ncell phone = ")
    if len(ntc) == 10 and len(ncell) == 10:
        data[name] = [ntc,ncell]
    else:
        print("Insert valid number")
        
print(data)

Enter n = 2
Enter name = Ram
Enter ntc phone = 98510404344
Enter ncell phone = 9861644633
Insert valid number
Enter name = Shyam
Enter ntc phone = 9871165478
Enter ncell phone = 987654321012
Insert valid number
{}

In [56]:
a = {'Ram': ['9861644644', '9751544544'], 'Shyam': ['9751533533', '9651322322']}
a["Hari"] = ['9841687862','9851040434']
a

{'Ram': ['9861644644', '9751544544'],
 'Shyam': ['9751533533', '9651322322'],
 'Hari': ['9841687862', '9851040434']}

In [61]:
name = input("Enter name = ")
a = {'Ram': ['9861644644', '9751544544'],
 'Shyam': ['9751533533', '9651322322'],
 'Hari': ['9841687862', '9851040434']}
x = int(input("Enter 0 for ntc and 1 for ncell "))
if x == 0:
    print(f"NTC phone number of {name}",a[name][0])
elif x == 1:
    print(f"NCell no of {name}",a[name][1])

Enter name = Hari
Enter 0 for ntc and 1 for ncell 1
NCell no of Hari 9851040434

In [63]:
a = {'Ram': ['9861644644', '9751544544'],
 'Shyam': ['9751533533', '9651322322'],
 'Hari': ['9841687862', '9851040434']}
a["Ram"][0] = 9865108903
a["Ram"][1] = 9805165104
a

{'Ram': [9865108903, 9805165104],
 'Shyam': ['9751533533', '9651322322'],
 'Hari': ['9841687862', '9851040434']}

In [3]:
#dict inside list
a = [{"name":"Ram","age":34,"add":"Kathmandu"},
     {"name":"Shyam","age":45,"add":"Patan"},
    {"name":"Nabin","age":45,"add":"Bara"}]
print(a)

[{'name': 'Ram', 'age': 34, 'add': 'Kathmandu'}, {'name': 'Shyam', 'age': 45, 'add': 'Patan'}, {'name': 'Nabin', 'age': 45, 'add': 'Bara'}]

In [4]:
for i in a:
    print(i)

{'name': 'Ram', 'age': 34, 'add': 'Kathmandu'}
{'name': 'Shyam', 'age': 45, 'add': 'Patan'}
{'name': 'Nabin', 'age': 45, 'add': 'Bara'}

In [5]:
data = []
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = input("Enter age = ")
    add = input("Enter add = ")
    info = {"name":name,"age":age,"add":add}
    data.append(info)     
print(data)

Enter n = 2
Enter name = ram
Enter age = 34
Enter add = kathmandu
Enter name = shyam
Enter age = 45
Enter add = patan
[{'name': 'ram', 'age': '34', 'add': 'kathmandu'}, {'name': 'shyam', 'age': '45', 'add': 'patan'}]

In [6]:
a = [{'name': 'ram', 'age': '34', 'add': 'kathmandu'}, 
     {'name': 'shyam', 'age': '45', 'add': 'patan'}]
print(a[0])

{'name': 'ram', 'age': '34', 'add': 'kathmandu'}

In [7]:
a = [{'name': 'ram', 'age': '34', 'add': 'kathmandu'}, 
     {'name': 'shyam', 'age': '45', 'add': 'patan'}]
print(a[0]["name"])

ram

In [8]:
a = [{'name': 'ram', 'age': '34', 'add': 'kathmandu'}, 
     {'name': 'shyam', 'age': '45', 'add': 'patan'}]
a[0]["name"]="Ram Prasad"
a

[{'name': 'Ram Prasad', 'age': '34', 'add': 'kathmandu'},
 {'name': 'shyam', 'age': '45', 'add': 'patan'}]

In [15]:
#dict inside dict
a = {1:{"name":"Aayush","age":20,"add":"Kathmandu"},
        2:{"name":"Sabin","age":40,"add":"Bhaktapur"}}
a

{1: {'name': 'Aayush', 'age': 20, 'add': 'Kathmandu'},
 2: {'name': 'Sabin', 'age': 40, 'add': 'Bhaktapur'}}

In [16]:
a[1]["name"]

'Aayush'

In [17]:
a[3]={"name":"Sabina","age":41,"add":"Bhaktapur"}
a

{1: {'name': 'Aayush', 'age': 20, 'add': 'Kathmandu'},
 2: {'name': 'Sabin', 'age': 40, 'add': 'Bhaktapur'},
 3: {'name': 'Sabina', 'age': 41, 'add': 'Bhaktapur'}}

In [20]:
data = {}
n = int(input("Enter n = "))
for i in range(1,n+1):
    name = input("Enter name = ")
    age = input("Enter age = ")
    add = input("Enter add = ")
    data[i] = {"name":name,"age":age,"add":add}    
print(data)

Enter n = 1
Enter name = Ram
Enter age = 34
Enter add = Kathmandu
{1: {'name': 'Ram ', 'age': '34', 'add': 'Kathmandu'}}