In [1]:
# execute the same code multiple times

In [2]:
# for loop 
# while loop

In [3]:
# range ()
# range (5) # for (i = 0; i<5; i++)
# range (1,5) # for (i=1; i<5; i++)
# range (1,5,2) # for (i=1; i<5; i=i+2)

In [4]:
for i in range (5):
    print (i)

0
1
2
3
4

In [5]:
for i in range (1,5):
    print (i)

1
2
3
4

In [6]:
for i in range (1,5,2):
    print (i)

1
3

In [9]:
for i in range (5):
    print ("Hello World")

Hello World
Hello World
Hello World
Hello World
Hello World

In [10]:
for i in range (5):
    print (i,"Hello World")

0 Hello World
1 Hello World
2 Hello World
3 Hello World
4 Hello World

In [11]:
for i in range (1,5):
    print (i,"Hello World")

1 Hello World
2 Hello World
3 Hello World
4 Hello World

In [12]:
for i in range (1,5,2):
    print (i,"Hello World")

1 Hello World
3 Hello World

In [13]:
n = int(input("Enter n = "))
for i in range(1,11):
    print (n*i)

Enter n = 5
5
10
15
20
25
30
35
40
45
50

In [14]:
n = int(input("Enter n = "))
for i in range(1,11):
    print (n, "*",i, "=",n*i)

Enter n = 5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [15]:
n = int(input("Enter n = "))
for i in range (n):
    x = int(input("Enter x = "))
    print (x)

Enter n = 5
Enter x = 132
132
Enter x = 243
243
Enter x = 132
132
Enter x = 243
243
Enter x = 123
123

In [16]:
s = 0
n = int(input("Enter n = "))
for i in range (n):
    x = int(input("Enter x = "))
    s = s + x
    print (s)

Enter n = 5
Enter x = 132
132
Enter x = 243
375
Enter x = 1
376
Enter x = 23
399
Enter x = 34
433

In [19]:
s = ""
n = int(input("Enter n = "))
for i in range (n):
    x = input("Enter x = ")
    s = s + x
print (s)

Enter n = 2
Enter x = Apple
Enter x = Ball
Apple Ball

In [20]:
s = ""
n = int(input("Enter n = "))
for i in range (n):
    x = input("Enter x = ")
    s = s + x + "\n"
print (s)

Enter n = 2
Enter x = Apple
Enter x = Ball
Apple
Ball

In [21]:
# 4! = 1*2*3*4

In [33]:
fac = 1
n = int(input('Enter n = '))
for i in range(1,n+1):
    fac = fac * i
    print (fac)

Enter n = 5
1
2
6
24
120

In [34]:
# range (5) -> 0,1,2,3,4

 a = "Hello"
 for i in a:
 print (i)

In [37]:
 a = "Hello"
 for i in a:
   print(i)

H
e
l
l
o

In [38]:
 a = "Hello World I am Python"
 for i in a:
   print(i)

H
e
l
l
o

W
o
r
l
d

I

a
m

P
y
t
h
o
n

In [39]:
 a = "Hello"
 for i in a:
   print(i,"\n")

H

e

l

l

o

In [45]:
a = "Hello World I am Python"
for i in a:
    if i != " ":
     print(i, end = "")

HelloWorldIamPython

In [48]:
a = "Hello World I am Python"
a [0]

'H'

In [49]:
a = "Hello World I am Python"
a [0:5]

'Hello'

In [50]:
a = "Hello World I am Python"
b = a [0:5]
c = b [5:]
d = "hello"
d+c

'hello'

In [51]:
# control statement 
# break 
# continue 
# pass

In [53]:
for i in range (10):
    if i == 5:
        break 
    print (i)

0
1
2
3
4

In [73]:
a = "Hello World"
for i in a:
    if i == " ":
        break
    print(i)

H
e
l
l
o

In [68]:
for i in range (10):
    if i == 5:
        continue 
    print (i, end = "")

012346789

In [74]:
for i in range (10):
    if i == 5:
        pass 
    print (i, end = "")

0123456789

In [75]:
a = "Hello World"
for i in a:
    if i == " ":
        continue
    print(i)

H
e
l
l
o
W
o
r
l
d

In [76]:
for i in range (10):
    if i == 5:
        pass 
    print (i)

0
1
2
3
4
5
6
7
8
9

In [78]:
# used of 'break' and 'continue' is in prime and composite numbers.
# prime -> 2, 3, 5, 7, 11, 13, 17, 19
# composite -> 4, 6, 8, 9, 10, 12, 15, 16, 18, 20
n = int(input("Enter n = "))
for i in range (2,n):
    if n%i ==0:
        print (n, "is a composite number")
        break
else: 
    print(n, "is a prime number")

Enter n = 9
9 is a composite number

In [79]:
n = int(input("Enter n = "))
for i in range (2,n):
    if n%i ==0:
        print (n, "is a composite number")
        continue
else: 
    print(n, "is a prime number")

Enter n = 11
11 is a prime number

In [1]:
for i in range(5):
    print (i*"*")

*
**
***
****

In [3]:
for i in range(1,10,2):
    print (i*"*")

*
***
*****
*******
*********

In [4]:
for i in range(10,0,-1):
    print (i*"*")

**********
*********
********
*******
******
*****
****
***
**
*